	div {
	    height: 50px;
	    width: 50px;
	    margin: 10px;
    }
    
    body {
        background-color: #333333;
    }

	/* .purple {
	    background-color: purple;
	}

	.darkgreen {
	    background-color: darkgreen;
	}

	.darkred {
	    background-color: darkred;
	} */